{% extends "main/base.html" %}
{% block main_content %}
<div class="row">
    <h1 class="fw-bold" style="text-decoration: none; color: black;"> Leaderboard </h1>
</div>


<div class="row pt-3  ">
    <div class="col rounded-top  bg-secondary">
        <div class="row pt-3">
            <p class="col col-lg-2" style="text-decoration: none; color:white; font-size:22px;" >  Rank</p>
            <p class="col" style="text-decoration: none; color:white; font-size:22px;" >  Usermane</p>
            <p class="col col-lg-2" style="text-decoration: none; color:white; font-size:22px;">   Points</p>
        </div>
        <div class="row">
            <div class="col rounded-bottom bg-dark">
        {% for entrie in leaderboard %}
                    {% if entrie.points > 0 %}
                    <div class="row pt-3">
                        <p class="col col-lg-2" style="text-decoration: none; color:white; font-size:22px;" > {{ forloop.counter  }} </p>
                        <p class="col" style="text-decoration: none; color:white; font-size:22px;" > {{entrie.user}}</p>
                        <p class="col col-lg-2" style="text-decoration: none; color:white; font-size:22px;" >  {{entrie.points}}</p>
                    </div>
                    {% endif %}  
            {% endfor %}
        </div>
    </div>
</div>

<div class="row pt-3">
<div class="col-xs">
    <span class="step-links rounded py-2 bg-dark">
    {% if page_obj.paginator.num_pages != null %}
        {% if page_obj.has_previous %}
            <a class=" ps-1 text-decoration-none text-white" href="?page=1">&laquo; first</a>
            <a class=" text-decoration-none text-white" href="?page={{ page_obj.previous_page_number }}">| previous |</a>
        {% endif %}
        <span class="px-1">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
        </span>
        {% if page_obj.has_next %}
            <a class="text-decoration-none text-white" href="?page={{ page_obj.next_page_number }}">| next |</a>
            <a class="pe-1 text-decoration-none text-white" href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    {% endif %}
    </span>
</div>
</div>
<br/>
{% endblock %} 