{% extends "main/base.html" %}
{% block main_content %}
<div class="row">
    <h1 class="fw-bold" style="text-decoration: none; color: black;"> leaderboard </h1>
</div>

<!--Load Posts-->
<!--HREF_TO_ADD: 
    href=" user_post.op_user "
-->

<div class="row pt-3 pb-3 ">
    <div class="col rounded-3 pb-3 bg-secondary">
        <div class="row pt-4">
            
            <p class="col text-start" style="text-decoration: none; color:white; font-size:22px;" >  Username:</p>
            <p class="col text-end" style="text-decoration: none; color:white; font-size:22px;">    points:</p>
        </div>
    </div>
</div>
<div class="row pt-3 pb-3 ">
    <div class="col rounded-3 pb-3 bg-dark">
{% for entrie in leaderboard %}

            <div class="row pt-4">
                
                <p class="col text-start" style="text-decoration: none; color:white; font-size:22px;" >  {{entrie.user}}</p>
                <p class="col text-end" style="text-decoration: none; color:white; font-size:22px;">    {{entrie.points}}</p>
            </div>

    {% endfor %}
{% endblock %} 

</div>
</div>