<!doctype html>
<html lang="en">
<!--Head-->
<head>
    <!--Title & Logo-->
    <title>Uni-Board</title>
    <!--Meta Tags-->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, intial-scale=1, shrink-to-fit=no">
    <!--Load Static Files-->
    {% load static %}
    <!--Bootstrap_v5 CSS-->
    <link rel="stylesheet" type="text/css" href"{% static 'main/bootstrap_v5/css/bootstrap.min.css' %}">
    <!--CSS-->
    <link rel="stylesheet" type="text/css" href="{% static 'main/css/main.css' %}">
</head>
<!--Body-->
<body>
    <!--Header-->
    <div id="base_header">
        <img>Logo For Uni Board</img>
    </div>
    <!--Nav-->
    <div id="base_nav">
        <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/messageboard">Message Board</a></li>
        <li><a href="/quiz">Quiz</a></li>
        <li><a href="/leaderboard">Leaderboard</a></li>
        </ul>
    </div>
    <!--Main_Content-->
    <div id="main_content" class="container-fluid" name="main_content">
        <!--MAIN_START-->
        {% block main_content %}

        {% endblock %}
        <!--MAIN_END-->

        <!--Bootstrap_v5 JS-->
        <script src="{% static 'main/bootstrap_v5/js/bootstrap.bundle.min.js' %}"/>

        <!--Scripts-->

    </div>
</body>
</html>