{% extends "main/base.html" %}
{% block main_content %}
<div class="row ">
    <h1> 
        <a class="fw-bold" style="text-decoration: none; color: black;" href="{% url 'message_board' %}">Message Board</a>
        | Create Post
    </h1>
</div>
<div class="row pt-3">
    <form method="POST">
        {% csrf_token %}
        <fieldset class="row rounded-3 bg-dark ">
            {{ form }}
        </fieldset>
        <div class="row pt-3 d-flex justify-content-center">
        <div class="col-xs">
            <button class=" btn btn-dark bg-dark" type="submit">Create Post</button>
        </div>
        </div>
    </form>
</div>
{% endblock %}