{% extends "main/base.html" %}
{% block main_content %}
<div class="row ">
    <h1> 
        <a class="text-warning" href="{% url 'message_board' %}">Message Board</a>
        | Delete Post
    </h1>
</div>
<div class="row">
    <form method="POST">
        {% csrf_token %}
        <fieldset class="row rounded-pill p-5 bg-dark bg-gradient text-center">
            <h1>
                Are you sure you wish to delete post:
            </h1>
            <h1 class="text-warning">
                {{ object.post_subject }} (#{{ object.post_id }})
            </h1>
        </fieldset>
        <div class="row pt-3">
            <button class="col text-center p-3 rounded-pill bg-dark bg-gradient text-warning" type="submit">Confirm Delete</button>
        </div>
        <div class="row pt-3">
            <a class="col text-center p-3 rounded-pill bg-dark bg-gradient text-warning" href="{% url 'post_detail' object.post_id %}">Go Back!</a>
        </div>
    </form>
</div>
{% endblock %}