{% extends "main/base.html" %}
{% block main_content %}
<div class="row ">
    <h1> 
        <a class="fw-bold" style="text-decoration: none; color: black;" href="{% url 'message_board' %}">Message Board</a>
        | Delete Post
    </h1>
</div>
<div class="row pt-3">
    <form method="POST">
        {% csrf_token %}
        <fieldset class="row rounded-3 p-3 bg-dark text-center">
            <h3>
                Are you sure you wish to delete post:
            </h3>
            <h1 class="fw-bold">
                {{ object.post_subject }}
            </h1>
        </fieldset>
        <div class="row pt-3 d-flex justify-content-center">
        
            <button class="col-2 btn btn-dark bg-dark" type="submit">Confirm Delete</button>
            <br class="col-1"/>
            <a class="col-2 btn btn-dark bg-dark" href="{% url 'post_detail' object.post_id %}">Go Back!</a>
        </div>
    </form>
</div>
{% endblock %}