<div class="row pt-3 pb-3">
    <div class="col rounded-3 bg-dark">
        <div class="row pt-3 pb-3 rounded bg-secondary">
            <img class="col-1 rounded" ></img>
            <a class="col-1 rounded text-light text-start" style="text-decoration: none;" href="#"> {{ user_post.post_user }} </a>
        </div>
        <div class="position-relative">
            <div class="row pt-3">
                <div class="row">
                    <Legend>
                        <a class="stretched-link text-decoration-none text-white" href="{% url 'post_detail' user_post.post_id %}">Subject: {{ user_post.post_subject }}</a>
                    </Legend>
                </div>
                <div class="row pt-3">
                    <p class="text-start">{{ user_post.post_content }}</p>
                </div>
            </div>
        </div>
        <div class="row text-info">
            <!--Likes-->
            {% include "message_board/like_post_snippet.html" %}
            <!--Dates-->
            <p class="col text-start">  Created on: {{ user_post.post_date      |date:"d F, Y" }}</p>
            <p class="col text-end">    Last Edit:  {{ user_post.post_updated   |date:"d F, Y" }}</p>
            <hr>
            <!--Load Tags-->
            <p class="col text-start">  Tags:
            {% load uniboard_tags %}
            {% with user_post.post_tags|split:" " as tags %}
                {% for tag in tags %}
                    #{{ tag }}
                {% endfor %}
            {% endwith %}
            </p>
        </div>
    </div>
</div>