{% extends "main/base.html" %}

{% block main_content %}
<div class="row">
    <h1 class="fw-bold" style="text-decoration: none; color: black;"> Message Board </h1>
</div>
<!--Create Posts-->
<div class="container-fluid">
    <div class="row">
        <div class="col-xs">
            <a class="col-2 btn btn-dark bg-dark" style="text-decoration: none; background-color: #000;  color: white;" href="{% url 'create_post' %}">Create Post</a>
            <a class="col-2 btn btn-dark bg-dark" style="text-decoration: none; background-color: #000;  color: white;" href="{% url 'my_posts' %}">My Posts</a>
        </div>
    </div>
</div>
<!--Load Posts-->
<!--HREF_TO_ADD: 
    href=" user_post.op_user "
-->
{% for user_post in user_posts %}
        {% include "message_board/load_post_snippet.html" %}
    {% endfor %}
{% endblock %} 

