{% extends "main/base.html" %}

{% block main_content %}
<div class="row">
    <h1 class="fw-bold">
        <a style="text-decoration: none; color: black;" href="{% url 'message_board' %}"> Message Board </a>
    </h1>
</div>
<!--Create Posts-->
<div class="row">
    <div class="container-fluid">
        <div class="col-xs">
            <a class="btn btn-dark bg-dark" style="text-decoration: none; background-color: #000;  color: white;" href="{% url 'create_post' %}">Create Post</a>
            <a class="btn btn-dark bg-dark" style="text-decoration: none; background-color: #000;  color: white;" href="{% url 'my_posts' %}">My Posts</a>
        </div>
    </div>
</div>
<!--Search Bar-->
{% include 'message_board/search_post_snippet.html' %}
<!--Load Posts-->
{% for user_post in user_posts %}
        {% include "message_board/load_post_snippet.html" %}
{% endfor %}

<div class="row">
<div class="col-xs">
    <span class="step-links rounded py-2 bg-dark">
    {% if page_obj.paginator.num_pages != null %}
        {% if page_obj.has_previous %}
            <a class=" ps-1 text-decoration-none text-white" href="?page=1">&laquo; first</a>
            <a class=" text-decoration-none text-white" href="?page={{ page_obj.previous_page_number }}">| previous |</a>
        {% endif %}
        <span class="px-1">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
        </span>
        {% if page_obj.has_next %}
            <a class="text-decoration-none text-white" href="?page={{ page_obj.next_page_number }}">| next |</a>
            <a class="pe-1 text-decoration-none text-white" href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    {% endif %}
    </span>
</div>
</div>

<br>
{% endblock %} 

