{% extends "main/base.html" %}
{% block main_content %}
<div class="row ">
    <h1> Message Board </h1>
</div>
<!--Create Posts-->
<div class="row">
    <a class="col text-center p-3 rounded-pill bg-dark bg-gradient text-warning" href="{% url 'create_post' %}">Create Post  </a>
    <br class="col p-3"/>
    <a class="col text-center p-3 rounded-pill bg-dark bg-gradient text-warning" href="{% url 'my_posts' %}">My Posts             </a>
</div>
<!--Load Posts-->
<!--HREF_TO_ADD: 
    href=" user_post.op_user "
-->
{% for user_post in user_posts %}
    <div class="row pt-3 pb-3 ">
        <div class="col rounded-3 bg-dark bg-gradient">
            <div class="row pt-3 pb-3 bg-secondary">
                <a class="col rounded text-warning text-start">  User: {{ user_post.post_user }} </a>
                <a class="col rounded text-warning text-end">    |ProfilePicHere|                </a>
            </div>
            <div class="row pt-3">
                <div class="row">
                    <a class="text-warning" href="{% url 'post_detail' user_post.post_id %}">Subject: {{ user_post.post_subject }}</a>
                </div>
                <div class="row pt-3">
                    <p class="text-start">{{ user_post.post_content }}</p>
                </div>
            </div>
            <div class="row pt-3 text-info">
                <p class="col test-middle"><form action="{% url 'like_post_mb' user_post.pk %}" method="POST">
                    {% csrf_token %}
                    <div >
                        <button class="btn-secondary" type="submit", name="post_id", value="{{user_post.post_id }}">Like</button> | {{ user_post.total_Likes }}
                    </div>
                </form></p>
                <p class="col text-start">  Created on: {{ user_post.post_date      |date:"d F, Y" }}</p>
                <p class="col text-end">    Last Edit:  {{ user_post.post_updated   |date:"d F, Y" }}</p>
            </div>
        </div>
    </div>
    {% endfor %}
{% endblock %} 