{% extends "main/base.html" %}
{% block main_content %}
<div class="row">
    <h1>
        <a class="fw-bold" style="text-decoration: none; color: black;" href="{% url 'message_board' %}">Message Board</a>
        | My Posts 
    </h1>
</div>
<!--Edit or Delete Posts-->
<!--Load Posts-->
{% for user_post in user_posts %}    
    {% if user_post.post_user == request.user %}
        {% include "message_board/load_post_snippet.html" %}
    {% endif %}
    <div class="container">
        <div class="row">
            <a class="col-2 btn btn-dark bg-dark " style="text-decoration: none; background-color: #000; color: white;" href="{% url 'update_post' user_post.post_id%}">Edit Post  </a>
            <br class="col"/>
            <a class="col-2 btn btn-dark bg-dark " style="text-decoration: none; background-color: #000; color: white;" href="{% url 'delete_post' user_post.post_id%}">Delete Post</a>
        </div>
    </div>
{% endfor %}
{% endblock %}