{% extends "main/base.html" %}
{% block main_content %}
<div class="row ">
    <h1> Message Board | Post Details </h1>
</div>
<div class="row">
        <div class="col alert alert-primary">
            <div class="row">
                <a class="col">User: {{ user_post.op_user }}</a>
                <a class="col">|ProfilePicHere|</p>
            </div>
            <div class="row">
                <div class="row">
                    <p class="">Subject: {{ user_post.subject }}</p>
                </div>
                <div class="row">
                    <p class="">{{ user_post.content }}</p>
                </div>
                <div class="row">
                    <p class="">Created on: {{ user_post.date_time|date:"d F, Y" }}</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}