{% extends "main/base.html" %}
{% block main_content %}
<div class="row ">
    <h1> Quizzes </h1>
</div>
<!--Create Posts-->
<div class="row">
    <a class="col text-center p-3 rounded-pill bg-dark bg-gradient text-warning" href="{% url 'create_quiz' %}">Create Quiz </a>
    <br class="col p-3"/>
    <a class="col text-center p-3 rounded-pill bg-dark bg-gradient text-warning" href="{% url 'my_quizzes' %}"> My Quizzes  </a>
</div>
<!--Load Posts-->
<!--HREF_TO_ADD: 
    href=" user_post.op_user "
-->
{% for quiz_model in quiz_models %}
    <div class="row pt-3 pb-3 ">
        <div class="col rounded-3 bg-dark bg-gradient">
            <div class="row pt-3 pb-3 bg-secondary">
                <a class="col rounded text-warning text-start">  Creator: {{ quiz_model.creator }} </a>
                <a class="col rounded text-warning text-end">    |ProfilePicHere|                </a>
            </div>
            <div class="row pt-3">
                <div class="row">
                    <a class="text-warning" href="{% url 'take_quiz' quiz_model.quiz_id %}">Title: {{ quiz_model.title }}</a>
                </div>
                <div class="row pt-3">
                    <p class="text-start">{{ quiz_model.desc }}</p>
                </div>
            </div>
            <div class="row pt-3 text-info">
                <p class="col text-start">  Creation Date: {{ quiz_model.date |date:"d F, Y" }}</p>
            </div>
        </div>
    </div>
{% endfor %}
{% endblock %}