{% extends "main/base.html" %}
{% block main_content %}
<div class="row ">
    <h1> Quiz Page </h1>
</div>
<div class="row">
    <div class="col">
        <div class="alert alert-primary"> 
            Div 1
        </div>
    </div>
    <div class="col">
        <div class="alert alert-primary"> 
            Div 2
        </div>
    </div>
    <div class="col">
        <div class="alert alert-primary"> 
            Div 3
        </div>
    </div>
    <div class="col">
        <div class="alert alert-primary"> 
            Div 4
        </div>
    </div>
    <div class="col">
        <div class="alert alert-primary"> 
            Div 5
        </div>
    </div>
</div>
{% endblock %}