{% extends "main/base.html" %}
{% block main_content %}
<div class="row ">
    <h1 class="fw-bold" style="text-decoration: none; color: black;"> Quizzes </h1>
</div>
<!--Create Posts-->
<div class="container">
    <div class="row">
        <a class="col-2 btn btn-dark bg-dark" href="{% url 'create_quiz' %}">Create Quiz </a>
        <br class="col p-3"/>
        <a class="col-2 btn btn-dark bg-dark" href="{% url 'my_quizzes' %}"> My Quizzes  </a>
    </div>
</div>
<!--Load Posts-->
<!--HREF_TO_ADD: 
    href=" user_post.op_user "
-->
{% for quiz_model in quiz_models %}
    {% include "quiz/quiz_feed_template.html" %}
{% endfor %}
{% endblock %}