{% extends "main/base.html" %}
{% block main_content %}
<div class="row ">
    <h1> Quiz Page </h1>
</div>
{% for %}
<div class="row">
    {% for %}
    <div class="col">
        <div class="alert alert-primary">
            <div class="quiz-container">
                {% for %}
                <label class="btn btn-lg"> <input type="radio" name="answer" value="{{}}">{{}}</label>
                {% endfor %}
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endfor %}
{% endblock %}