{% extends "main/base.html" %}
{% block main_content %}
<div class="row">
    <h1>
        <a class="fw-bold" style="text-decoration: none; color: black;" href="{% url 'quiz_home' %}">Quizzes</a>
        | Take Quiz
    </h1>
</div>
{% if quiz_model.creator == request.user %}
    <!--Creator Buttons-->
<div class="row">
<div class="col-xs">
    <a class="btn btn-dark bg-dark " style="text-decoration: none; background-color: #000; color: white;" href="{% url 'update_quiz' quiz_model.quiz_id%}">Edit Quiz  </a>
    <a class="btn btn-dark bg-dark " style="text-decoration: none; background-color: #000; color: white;" href="{% url 'delete_quiz' quiz_model.quiz_id%}">Delete Quiz</a>
</div>
</div>
{% endif %}
<!--Quiz-->
<div class="container">
<div class="row pt-3 pb-3">
    <div class="col rounded-3 bg-dark">
        <div class="row pt-3 pb-3 bg-secondary">
                <a class="col-1 rounded text-light text-start" style="text-decoration: none;" href="#"> {{ quiz_model.creator }} </a>
        </div>
        <div class="row pt-3">
            <!--Title-->
            <div class="row">
                <Legend >Title: {{ quiz_model.title }}</Legend>
            </div>
            <!--Description-->
            <div class="row pt-3">
                <p class="text-start">{{ quiz_model.desc }}</p>
            </div>
        </div>
        <!--Questions-->
        <form action="{%url 'quiz_results' %}" method="POST">
            {% csrf_token %}
            <!--Q1-->
            <hr>
            <div class="row ">
                <Legend>
                    Question 1: {{ quiz_model.Question_1 }}
                </Legend>
            </div>
            <br/>
            <div class="row text-info">
                <h5 style="color:white;"> <input  type="radio" name="q1_opt" value="1"> 1 ~ {{ quiz_model.Question_1_Option_1 }} </h4>
            </div>
            <div class="row text-info">
                <h5 style="color:white;"> <input type="radio" name="q1_opt" value="2"> 2 ~ {{ quiz_model.Question_1_Option_2 }} </h4>
            </div>
            <div class="row text-info">
                <h5 style="color:white;"> <input type="radio" name="q1_opt" value="3"> 3 ~ {{ quiz_model.Question_1_Option_3 }} </h4>
            </div>
            <div class="row text-info">
                <h5 style="color:white;"> <input type="radio" name="q1_opt" value="4"> 4 ~ {{ quiz_model.Question_1_Option_4 }} </h4>
            </div>
            <!--Q2-->
            {% if  quiz_model.Question_2 != "" %}
                <hr>
                <div class="row ">
                    <Legend>
                        Question 2: {{ quiz_model.Question_2 }}
                    </Legend>
                </div>
                <br/>
                <div class="row text-info">
                    <h5 style="color:white;"> <input type="radio" name="q2_opt" value="1"> 1 ~ {{ quiz_model.Question_2_Option_1 }} </h4>
                </div>
                <div class="row text-info">
                    <h5 style="color:white;"> <input type="radio" name="q2_opt" value="2"> 2 ~ {{ quiz_model.Question_2_Option_2 }} </h4>
                </div>
                <div class="row text-info">
                    <h5 style="color:white;"> <input type="radio" name="q2_opt" value="3"> 3 ~ {{ quiz_model.Question_2_Option_3 }} </h4>
                </div>
                <div class="row text-info">
                    <h5 style="color:white;"> <input type="radio" name="q2_opt" value="4"> 4 ~ {{ quiz_model.Question_2_Option_4 }} </h4>
                </div>
            {% endif %}
            <!--Q3-->
            {% if  quiz_model.Question_3 != "" %}
                <hr>
                <div class="row ">
                    <Legend>
                        Question 3: {{ quiz_model.Question_3 }}
                    </Legend>
                </div>
                <br/>
                <div class="row text-info">
                    <h5 style="color:white;"> <input type="radio" name="q3_opt" value="1"> 1 ~ {{ quiz_model.Question_3_Option_1 }} </h4>
                </div>
                <div class="row text-info">
                    <h5 style="color:white;"> <input type="radio" name="q3_opt" value="2"> 2 ~ {{ quiz_model.Question_3_Option_2 }} </h4>
                </div>
                <div class="row text-info">
                    <h5 style="color:white;"> <input type="radio" name="q3_opt" value="3"> 3 ~ {{ quiz_model.Question_3_Option_3 }} </h4>
                </div>
                <div class="row text-info">
                    <h5 style="color:white;"> <input type="radio" name="q3_opt" value="4"> 4 ~ {{ quiz_model.Question_3_Option_4 }} </h4>
                </div>
            {% endif %}
            <!--Q4-->
            {% if  quiz_model.Question_4 != "" %}
                <hr>
                <div class="row ">
                    <Legend>
                        Question 4: {{ quiz_model.Question_4 }}
                    </Legend>
                </div>
                <br/>
                <div class="row text-info">
                    <h5 style="color:white;"> <input type="radio" name="q4_opt" value="1"> 1 ~ {{ quiz_model.Question_4_Option_1 }} </h4>
                </div>
                <div class="row text-info">
                    <h5 style="color:white;"> <input type="radio" name="q4_opt" value="2"> 2 ~ {{ quiz_model.Question_4_Option_2 }} </h4>
                </div>
                <div class="row text-info">
                    <h5 style="color:white;"> <input type="radio" name="q4_opt" value="3"> 3 ~ {{ quiz_model.Question_4_Option_3 }} </h4>
                </div>
                <div class="row text-info">
                    <h5 style="color:white;"> <input type="radio" name="q4_opt" value="4"> 4 ~ {{ quiz_model.Question_4_Option_4 }} </h4>
                </div>
            {% endif %}
            <!--Q5-->
            {% if  quiz_model.Question_5 != "" %}
                <hr>
                <div class="row ">
                    <Legend>
                        Question 5: {{ quiz_model.Question_5 }}
                    </Legend>
                </div>
                <br/>
                <div class="row text-info">
                    <h5 style="color:white;"> <input type="radio" name="q5_opt" value="1"> 1 ~ {{ quiz_model.Question_5_Option_1 }} </h4>
                </div>
                <div class="row text-info">
                    <h5 style="color:white;"> <input type="radio" name="q5_opt" value="2"> 2 ~ {{ quiz_model.Question_5_Option_2 }} </h4>
                </div>
                <div class="row text-info">
                    <h5 style="color:white;"> <input type="radio" name="q5_opt" value="3"> 3 ~ {{ quiz_model.Question_5_Option_3 }} </h4>
                </div>
                <div class="row text-info">
                    <h5 style="color:white;"> <input type="radio" name="q5_opt" value="4"> 4 ~ {{ quiz_model.Question_5_Option_4 }} </h4>
                </div>
            {% endif %}
            <!--Q6-->
            {% if  quiz_model.Question_6 != "" %}
                <hr>
                <div class="row ">
                    <Legend>
                        Question 6: {{ quiz_model.Question_6 }}
                    </Legend>
                </div>
                <br/>
                <div class="row text-info">
                    <h5 style="color:white;"> <input type="radio" name="q6_opt" value="1"> 1 ~ {{ quiz_model.Question_6_Option_1 }} </h4>
                </div>
                <div class="row text-info">
                    <h5 style="color:white;"> <input type="radio" name="q6_opt" value="2"> 2 ~ {{ quiz_model.Question_6_Option_2 }} </h4>
                </div>
                <div class="row text-info">
                    <h5 style="color:white;"> <input type="radio" name="q6_opt" value="3"> 3 ~ {{ quiz_model.Question_6_Option_3 }} </h4>
                </div>
                <div class="row text-info">
                    <h5 style="color:white;"> <input type="radio" name="q6_opt" value="4"> 4 ~ {{ quiz_model.Question_6_Option_4 }} </h4>
                </div>
            {% endif %}
            <!--Q7-->
            {% if  quiz_model.Question_7 != "" %}
                <hr>
                <div class="row ">
                    <Legend>
                        Question 7: {{ quiz_model.Question_7 }}
                    </Legend>
                </div>
                <br/>
                <div class="row text-info">
                    <h5 style="color:white;"> <input type="radio" name="q7_opt" value="1"> 1 ~ {{ quiz_model.Question_7_Option_1 }} </h4>
                </div>
                <div class="row text-info">
                    <h5 style="color:white;"> <input type="radio" name="q7_opt" value="2"> 2 ~ {{ quiz_model.Question_7_Option_2 }} </h4>
                </div>
                <div class="row text-info">
                    <h5 style="color:white;"> <input type="radio" name="q7_opt" value="3"> 3 ~ {{ quiz_model.Question_7_Option_3 }} </h4>
                </div>
                <div class="row text-info">
                    <h5 style="color:white;"> <input type="radio" name="q7_opt" value="4"> 4 ~ {{ quiz_model.Question_7_Option_4 }} </h4>
                </div>
            {% endif %}
            <!--Q8-->
            {% if  quiz_model.Question_8 != "" %}
                <hr>
                <div class="row ">
                    <Legend>
                        Question 8: {{ quiz_model.Question_8 }}
                    </Legend>
                </div>
                <br/>
                <div class="row text-info">
                    <h5 style="color:white;"> <input type="radio" name="q8_opt" value="1"> 1 ~ {{ quiz_model.Question_8_Option_1 }} </h4>
                </div>
                <div class="row text-info">
                    <h5 style="color:white;"> <input type="radio" name="q8_opt" value="2"> 2 ~ {{ quiz_model.Question_8_Option_2 }} </h4>
                </div>
                <div class="row text-info">
                    <h5 style="color:white;"> <input type="radio" name="q8_opt" value="3"> 3 ~ {{ quiz_model.Question_8_Option_3 }} </h4>
                </div>
                <div class="row text-info">
                    <h5 style="color:white;"> <input type="radio" name="q8_opt" value="4"> 4 ~ {{ quiz_model.Question_8_Option_4 }} </h4>
                </div>
            {% endif %}
            <!--Q9-->
            {% if  quiz_model.Question_9 != "" %}
                <hr>
                <div class="row ">
                    <Legend>
                        Question 9: {{ quiz_model.Question_9 }}
                    </Legend>
                </div>
                <br/>
                <div class="row text-info">
                    <h5 style="color:white;"> <input type="radio" name="q9_opt" value="1"> 1 ~ {{ quiz_model.Question_9_Option_1 }} </h4>
                </div>
                <div class="row text-info">
                    <h5 style="color:white;"> <input type="radio" name="q9_opt" value="2"> 2 ~ {{ quiz_model.Question_9_Option_2 }} </h4>
                </div>
                <div class="row text-info">
                    <h5 style="color:white;"> <input type="radio" name="q9_opt" value="3"> 3 ~ {{ quiz_model.Question_9_Option_3 }} </h4>
                </div>
                <div class="row text-info">
                    <h5 style="color:white;"> <input type="radio" name="q9_opt" value="4"> 4 ~ {{ quiz_model.Question_9_Option_4 }} </h4>
                </div>
            {% endif %}
            <!--Q10-->
            {% if  quiz_model.Question_10 != "" %}
                <hr>
                <div class="row ">
                    <Legend>
                        Question 10: {{ quiz_model.Question_10 }}
                    </Legend>
                </div>
                <br/>
                <div class="row text-info">
                    <h5 style="color:white;"> <input type="radio" name="q10_opt" value="1"> 1 ~ {{ quiz_model.Question_10_Option_1 }} </h4>
                </div>
                <div class="row text-info">
                    <h5 style="color:white;"> <input type="radio" name="q10_opt" value="2"> 2 ~ {{ quiz_model.Question_10_Option_2 }} </h4>
                </div>
                <div class="row text-info">
                    <h5 style="color:white;"> <input type="radio" name="q10_opt" value="3"> 3 ~ {{ quiz_model.Question_10_Option_3 }} </h4>
                </div>
                <div class="row text-info">
                    <h5 style="color:white;"> <input type="radio" name="q10_opt" value="4"> 4 ~ {{ quiz_model.Question_10_Option_4 }} </h4>
                </div>
            {% endif %}
            <hr>
            <div class="row">

            <div class="col-xs">
                <button class=" mb-3 ms-3 btn btn-outline-light" name="quiz_id" value="{{quiz_model.quiz_id }}">Submit Quiz</a>
            </div>

            </div>
            <div class="row">
                <p class="col ms-1 text-info text-start">  Created on: {{ quiz_model.date      |date:"d F, Y" }}</p>
            </div>
            
            
        </form>
        <!--Date-->
    </div>
</div>
</div>
<br/>
{% endblock %}
