/* Body */
.text-colour-light {
  color:            #e7e7e7;
}
.site-colour-1 {
    background-color: #D9FCF3;
}

.site-colour-2{
  background-color:#1a1a1a;
}

.site-colour-3{
    background-color: #313131;
}

.site-colour-4{
  background-image: linear-gradient(#A1F7E1, #08887A);
}

body {
  font-family: "Lato", sans-serif;
}

.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 0;
  top: 0;
  left: 0;
  background-color: #0D1321;
  white-space: nowrap;
  overflow-x: hidden;
  transition: 0.3s;
  padding-top: 30px;
}

.sidebar a {
  padding: 30px 0px 0px 25px;
  text-decoration: none;
  font-size: 20px;
  color: #868080;
  display: block;
  transition: 0.3s;
}

.sidebar a:hover {
  color: #FFEDDF;
}

.sidebar .closebtn {
  position: absolute;
  top: -15px;
  font-size: 30px;
  padding: 1rem;
}

#LoginButton {
  padding: 1rem;
}
/* Site Visuals */
/*
@font-face {
    font-family: 'OCR-B';
    src: url('./Resources/OCR-B_Regular.ttf');
}
@keyframes BackgroundLoop {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 100% 0;
  }

  #animate-backlground {
  background-size: 236%;
  background-image: url("./Resources/Tonebox_Small.jpg");
  background-position: 0px 0px;
  background-repeat: repeat-x;
  animation: BackgroundLoop 60s linear infinite alternate;
}
}*/