{% extends "main/base.html" %}
{% block extra_head_content%}
{% load static %}
<link href="{% static 'account/css/account.css' %}" rel="stylesheet">
{% endblock %}
{% block main_content %}

<div class="row">
    <h1 class="text page-title"> Account Page </h1>
</div>
<div class="container-fluid">
    <div class="row">
        {% block login_options %}
        {% if user.is_authenticated %}
        <div class="link page-title">
            <a href="{% url 'profile' %}">Profile</a>
            <a href="{% url 'logout' %}">Log Out</a>
        </div>
        {% else %}
        <div class="link page-title">
            <a href="{% url 'login' %}" role="button">Login</a>
            <a href="{% url 'register' %}" role="button">Register</a>
        </div>
        {% endif %}
        {% endblock %}
    </div>
</div>
<div class="row">
    <div class="col">
        {%block content%}
        {% endblock content %}
    </div>
</div>
{% endblock %}