{% extends "main/base.html" %}
{% block main_content %}
<div class="row">
    <h1> Account Page </h1>
</div>
<div class="row">
    <div class="col">
        {% if user.is_authenticated %}
            <a class="nav-item nav-link" href="{% url 'profile' %}">Profile</a>
            <a class="nav-item nav-link" href="{% url 'logout' %}">Log Out</a>
        {% else %}
            <a class="nav-item nav-link" href="{% url 'login' %}">Login</a>
            <a class="nav-item nav-link" href="{% url 'register' %}">Register</a>
        {% endif %}
    </div>
</div>
<div class="row">
    <div class="col">
        {%block content%}
        {% endblock content %}
    </div>
</div>
{% endblock %}