{% extends "account/account.html"%}
{% block content %}
    
    <div class="row">
        <div class="col">
            {% if user.is_authenticated %}
            <h1>{{ user.username }}, Change your password here.</h1>
            <div class="container">
                <form method="POST">
                    {% csrf_token %}
                    {{form.as_p}}
                    <button type="submit">Submit</button>
                </form>
            </div>
            {% else %}

            {% endif %}
        </div>
    </div>
{% endblock content %}