{% extends "account/account.html"%}
{% block content %}
<div class="container">
    <div class="row">
        {% if user.is_authenticated %}
        <h1 style="text-decoration: none; color: black;">{{ user.username }}</h1>
        <div class="container">
            <form method="POST">
                {% csrf_token %}
                {{form.as_p}}
                <button class="btn btn-dark bg-dark" type="submit">Submit</button>
            </form>
        </div>
        {% else %}

        {% endif %}
    
    </div>
</div>
{% endblock content %}