{% extends "account/account.html"%}
{% block content %}
<div class="container">
    <h1 style="text-decoration: none; color: black;">{{ user.username }}</h1>
    {% if user.is_authenticated %}
    <div class="row">
        <a class="col-2 btn btn-dark bg-dark" style="text-decoration: none; background-color: #000;  color: white;" href="{% url 'edit_profile' %}">Edit Profile</a>
        <br class="col-1"/>
        <a class="col-2 btn btn-dark bg-dark" style="text-decoration: none; background-color: #000;  color: white;" href="{% url 'change_password' %}">Change Password</a>
    </div>
    {% else %}
</div>
{% endif %}
{% endblock content %}