{% extends "main/base.html" %}
{% block extra_head_content%}
{% load static %}
<link href="{% static 'account/css/account.css' %}" rel="stylesheet">
{% endblock %}
{% block main_content %}

<div class="row">
    <h1 class="text page-title"> Reset Email Sent </h1>

        <div class="border-top pt-3">
            <small class="text-muted">
                Have not recieved an email? <a class="ml-2" href="{% url 'reset_password' %}">Try again here</a></small>
        </div>
    
</div>

{% endblock %}