{% extends "main/base.html" %}
{% block extra_head_content%}
{% load static %}
<link href="{% static 'account/css/account.css' %}" rel="stylesheet">
{% endblock %}
{% block main_content %}

<div class="row">
    <h1 class="page-title" style="text-decoration: none; color: black;"> Password Reset Complete </h1>

        <div class="pt-3 d-flex justify-content-center">
            <a class="col-2 btn btn-dark bg-dark" style="text-decoration: none; background-color: #000;  color: white;" href="{% url 'login' %}" role="button">Login</a>
        </div>
    
</div>

{% endblock %}