{% extends "main/base.html" %}
{% block extra_head_content%}
{% load static %}
<link href="{% static 'account/css/account.css' %}" rel="stylesheet">
{% endblock %}
{% block main_content %}

<div class="row">
    <h1 class="page-title" style="text-decoration: none; color: black;"> Reset Email Sent </h1>

        <div class=" pt-3">
            <p  style="color: black;">
                Not recieved an email? <a style="color: black;" href="{% url 'reset_password' %}">Try again here</a></p>
        </div>
    
</div>

{% endblock %}