{% extends "main/base.html" %}
{% block extra_head_content%}
{% load static %}
<link href="{% static 'account/css/account.css' %}" rel="stylesheet">
{% endblock %}
{% block main_content %}

<div class="content-section">
    <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Enter New Password</legend>
            {{ form }}
        </fieldset>
        <div class="form-group">
            <button class="btn btn-dark bg-dark" style="margin:10px;" type="submit">Change my password</button>
        </div>
    </form>

</div>

{% endblock %}